* {
    font-family: cushion;
}

:root {
    --fond: #b08ff6;
    --noir: rgba(0, 0, 0, 100%);
    --white: rgb(255, 255, 255);
    --gris: #d9d9d9;
    --darkpurple: rgb(119, 91, 179);
}

@font-face {
    font-family: lostar;
    src: url(../file_festival/00_assets/font/Lostar.ttf);
}

@font-face {
    font-family: cushion;
    src: url(../file_festival/00_assets/font/LTCushion-Light.ttf);
}


/* # section hero */

.titre {
    font-family: lostar;
}

.navbar {
    background-color: var(--fond);
    font-family: cushion;
}

.navbar-brand{
    font-family: lostar;
}

.logo {
    width: 50px;
}

.h1 {
    background-color: var(--fond);
    font-size: 40px;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}


/*#  Fonctionalitées*/

main {
    height: 200vh;
}

a {
    text-decoration: none;
    color: black;
}

.phone {
    border-radius: 50px;
    width: 100%;
}

.container-gradient {
    background: radial-gradient(var(--fond), var(--white), var(--white));
    height: 150vh;
}

.top {
    margin-top: 100px;
}

.nav-link {
    color: var(--white);
}

iframe {
    aspect-ratio: 5/9;
    width: 400px;
    height: 700px;
    border-radius: 50px;
    margin-top: 50px;
    box-shadow: 0 0 50px var(--noir);
}

.btnTele {
    width: 150px;
    height: 50px;
    background-color: var(--fond);
    color: var(--white);
    border: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.btnTele:hover {
    background-color: var(--darkpurple);
}
.card {
    width: 100%;
    
}

     
.fonct{
    font-family: cushion;
    font-size: 26px;
}
/* # Footer*/

.footer {
    background-image: linear-gradient(var(--white), var(--fond));
    text-align: center;

}

.file-logo {
    width: 150px;
}


.container-footer{
    padding-top: 50px;
}