* {
    font-family: cushion;
}

html,
body {
    background-color: white;
}

:root {
    --fond: #B08FF6;
    --noir: rgba(0, 0, 0, 100%);
}

@font-face {
    font-family: lostar;
    src: url(/file_festival/file_festival/00_assets/font/Lostar.ttf);
}

@font-face {
    font-family: cushion;
    src: url(/file_festival/file_festival/00_assets/font/LTCushion-Light.ttf);
}


/* # section hero */

.navbar {
    background-color: var(--fond);
    font-family: cushion;
}

.logo {
    width: 50px;
}

.h1 {
    background-color: var(--fond);
    font-size: 40px;
}

ul {
    list-style-type: none;
}


/*#  Fonctionalitées*/

main {
    margin-bottom: 100px;
    height: 100vh;
}


/* # Footer*/

.footer {
    background-image: linear-gradient(#fff, var(--fond));
}

.file-logo {
    width: 150px;
}

.nav-link {
    color: #fff
}