* {
  font-family: cushion;
}

html,
body {
  background-color: var(--white);
  overflow-x: hidden;
}

:root {
  --fond: #b08ff6;
  --noir: rgba(0, 0, 0, 100%);
  --white: rgb(255, 255, 255);
  --gris: #d9d9d9;
  --darkpurple: rgb(119, 91, 179);
}

@font-face {
  font-family: lostar;
  src: url(../00_assets/font/Lostar.ttf);
}

@font-face {
  font-family: cushion;
  src: url(../00_assets/font/LTCushion-Light.ttf);
}

/* # section hero test */

.navbar {
  background-color: var(--white);
}

.navbar-brand {
  color: var(--black);
  font-family: lostar;
  margin-top: 10px;
}

.logo {
  width: 50px;
}

.avatar {
  width: 40px;
}

/*#  Fonctionalitées*/

main {
  height: 200vh;
}

.navbar-collapse {
  background-color: var(--gris);
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
}

.input-group {
  margin-top: 100px;
}

ul {
  list-style-type: none;
}

.boutons {
  margin-top: 40px;
  overflow: hidden;
  padding-left: 0;
}

.btn:hover {
  background-color: var(--fond);
  border: 0;
}

.file-logo {
  width: 50px;
}

.nav-link {
  color: var(--black);
}
.offcanvas-title {
  font-family: lostar;
}

.offcanvas-body {
  background-image: linear-gradient(var(--fond), var(--white));
}

.offcanvas-header {
  background-color: var(--fond);
}

.navbar-toggler {
  border: 0;
}

input {
  background-color: var(--fond);
}

.btn {
  border-color: var(--fond);
  color: var(--fond);
  white-space: nowrap;
  width: 110px;
  margin: 0 10px;
  margin-left: 0;
}

.navbar-toggler-icon {
  width: 40px;
  background-image: url(/file_festival/file_festival/00_assets/icons/menu_burger.png);
}

.form-control {
  background-color: var(--fond);
}

input::placeholder {
  color: var(--white) !important;
}

.input-group-text {
  background-color: var(--white);
}

form {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

.title {
  text-decoration: underline;
}

.card {
  background-color: var(--noir);
  transition: background-color 0.5s;
  border:0;

}


.top-image {
  height: 20vh;
  object-fit: cover;
}

.joy {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.bi-arrow-right-square-fill {
  color: var(--fond);
}

.card-title{
    margin-top: 10px;
    font-size: 20px;
}

.card:hover{
    background-color: var(--fond);
}

#lescartes{
    width: 140%;
}

.dyan{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}



.date{
  font-size: 12px;
}

.info {
  font-size: 12px;
}

.top{
  padding:8px;
}

.titledeux{
  margin-top: 25px;
  text-decoration: underline;
}



.cardtwo{
  border: 1px solid var(--noir);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--noir);
  padding:10px;
}

/* # Footer*/

.footer {
  background-image: linear-gradient(var(--white), var(--fond));
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  padding-top: 75px;
}

.logo-tim {
  width: 300px;
}

